.button-icon {
  @include display-content;
  border: none;
  user-select: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  position: relative;
  & .animate {
    position: absolute;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    pointer-events: none;
    animation: materialRipple 0.2s ease-out;
  }

  &.mr {
    margin-right: $mr-14;
  }
  &.apd {
    padding: $all-p;
  }
  &#avatar {
    padding: 0;
  }
  &#avatar img {
    margin: 0px 8px 0px 8px;
    border-radius: 50%;
  }
}
