#contents {
  @include display-content;
  background: #f7f7f7;
  margin-top: $menu-height;
}

#videos {
  @include display-content(flex-start);
  flex-wrap: wrap;
  margin-left: $menu-width;
  margin-top: 24px;
}

#video {
  width: 400px;
  height: 100px;
}
