.endpoint {
  color: black;
  font-size: 14px;
  text-decoration: none;
  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  &:active {
    background: rgba(0, 0, 0, 0.15);
  }
  &[active] {
    background: rgba(0, 0, 0, 0.1);
  }
  &[active]:hover {
    background: rgba(0, 0, 0, 0.15);
  }
  &[active]:active {
    background: rgba(0, 0, 0, 0.2);
  }
}

#guide-menu {
  &[opened] {
    display: block;
    position: fixed;
    top: 0;
    width: $menu-width;
    height: 100vh;
    margin-top: $menu-height;
    background: #fff;
  }
  & {
    display: none;
  }
}

#guide-section {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

.guide-item {
  @include display-content(flex-start);
  height: 40px;
  padding: 0 24px;
  title {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  img {
    margin-right: 18px;
    border-radius: 50%;
  }
}

#footer {
  padding: 16px 24px;
  color: #909090;
  font-size: 13px;
}
