include ../global/util.pug

mixin guideMenu()
  nav#guide-menu()&attributes({'opened': ''})
    +guideSection(
      [
        {href:'/',  string: '홈', imgSrc:'home.svg'},
        {href:'/trend', string:'인기', imgSrc:'trend.svg'},
        {href:'/subscription', string:'구독', imgSrc:'subscription.svg'}
      ]
    )
    +guideSection(
      [
        {href:'/library', string:'보관함', imgSrc: 'library.svg'},
        {href:'/history', string:'시청 기록', imgSrc: 'view-record.svg'},
        {href:'/studio', string:'내 동영상', imgSrc: 'personal.svg'},
        {href:'/playlist', string:'나중에 볼 동영상', imgSrc:'watch-later.svg'}
      ]
    )
    div#footer
      p 
        | © 2021 Home
        br
        | 개발자: 이상민
        br
        | 주소: 서울특별시 서초구
        br
        | 전화: 010-9***-****

mixin guideSection(arr)
  #guide-section
    each obj in arr
      +anchorItem(obj.href, obj.string, obj.imgSrc)

mixin anchorItem(href, string, imgSrc)
  a.guide-item.endpoint(href=href title=string)
    +imgWrap(imgSrc, string, 18, 18)
    .title= string