<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Welcome to My Clone Youtube Website")
    link(rel="shortcut icon" href="static/images/website_icon.ico")
    link(rel="preload" href="static/styles/main.css" as="style")
    link(rel="stylesheet" href="static/styles/main.css")
    title youtube-clone
  body
    #app
      block content
      block foot