include ../global/util.pug

mixin navbar()
  #navbar
    #left
      #menu
        +buttonWrap("header_menu.png", "메뉴 버튼")
      #logo-container
        a#logo(href="/" title="JJabtube 홈")
          +imgWrap('youtube_logo.svg', '짭튜브 로고', 80, 24)
    #center
      #search-container
        form#search-form(action="/results")
          #search-input
            label(for="search" hidden)
            input(id="search" type="text" name="search" placeholder="검색" autocomplete="off")
    #right
      #buttons
        +buttonWrap("video_camera.png", "동영상 업로드")
        +buttonWrap("alarm.png", "동영상 알림")
        +buttonWrap("user.png", "내 정보")&attributes({'end': ''})

mixin buttonWrap(imgSrc, alt, className)
  button.button-icon(class=className)&attributes(attributes)
    +imgWrap(imgSrc, alt)